/*#f7f4ef 背景 　#8faa96 緑 アクセントカラー　#5f5f5f 文字*/

body {
  background-color: #f7f4ef;
  color: #5f5f5f;
  
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  'Hiragino Maru Gothic ProN',
  'メイリオ',
  sans-serif;

  padding:32px 24px;
}

h1{
  font-size: 28px;
  font-weight: 500;

  margin-bottom: 40px;

  color: #8faa96;
}

.music-name a{
  width: 100%;
  line-height: 1.5;
  display: block;
  color: #5f5f5f;
  text-decoration: none;
  padding: 20px 4px;
  border-bottom: 1px solid #ddd8cf;
  transition:0.3s;
}

.music-name a:hover{
  color: #8faa96;
  padding-left: 12px;
}

.pagechange a {
  text-decoration: none;
  color: #8faa96;
  border: 1px solid #8faa96;
  padding: 10px 16px;
  border-radius:20px;
  transition: 0.3s;
}
